body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(255, 252, 230, 1);
}
/********************/
/* Header */
/********************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 8px;
  border-radius: 48px;
  background-color: rgba(255, 255, 255, 1);
}

.header__others {
  display: flex;
  align-items: center;
}

.header__info {
  text-decoration: none;
  padding: 8px;
  color: rgba(34, 34, 34, 1);
  font-size: 12px;
  position: relative;
}
.header__info::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__info:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__register {
  display: flex;
}

.header__login {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  padding: 8px;
  font-family: "Circular Bold";
  transition: all 0.2s ease;
  position: relative;
  margin: 0px 4px;
}
.header__login::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__login:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__signup {
  border-radius: 40px;
  background-color: rgba(255, 221, 0, 1);
  padding: 8px 16px;
  display: block;
  font-family: "Circular Bold";
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
}
.header__signup:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}
/********************/
/*Header*/
/********************/

.hero {
  padding: 0px 16px;
  text-align: center;
  background-color: rgba(255, 252, 230, 1);
}

.hero__title {
  font-size: 30px;
  font-family: "Circular Bold";
  margin: 0;
}

.hero-padding {
  padding: 32px 12px 24px 12px;
}

.hero__container {
  padding: 0px 16px 0px 16px;
  border-radius: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 9px;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
}

.hero__input {
  outline: none;
  border: none;
  font-size: 16px;
  font-family: "Circular Regular";
}

.creators-paddbot {
  padding-bottom: 48px;
}

.creators-paddtop {
  padding-top: 48px;
}

.creators__video {
  padding-bottom: 64px;
}

.creators__video-title {
  line-height: 35px;
  font-size: 32px;
  font-family: "Circular Bold";
  margin: 0;
  padding: 0px 0px 24px 24px;
}

.creators__video-cards {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: auto;
  margin-top: 24px;
}

.creators__video-cards::-webkit-scrollbar {
  width: 0%;
}

.creator__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 24px;
  text-decoration: none;
  height: calc(100% - -0px);
}

.creator__img:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition-duration: 300ms;
  object-fit: cover;
}

.creator__conteiner-img {
  height: 200px;
  width: 200px;
}

.creator__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: 0.5s;
}

.creator__container-info {
  height: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.creator__description {
  padding-top: 12px;
  line-height: 22px;
  font-size: 16px;
  font-family: "Circular Regular";
  color: #000;
}

.creator__span {
  font-family: "Circular Bold";
}

.creator__container-supports {
  display: flex;
  padding-top: 12px;
  color: #000;
}

.crator__heart-svg {
  padding-right: 8px;
}

.creator__supporters {
  margin: 0;
  line-height: 19px;
  font-size: 16px;
}

/* Footer */

.footer-top {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-left {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link {
  font-family: "Circular Bold";
  padding-right: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #222222;
}

.footer__link:hover {
  color: rgba(119, 119, 119, 1);
}

.footer__link:hover .footer__svg {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.footer__svg {
  padding-left: 5px;
}

.footer__more {
  position: relative;
}
.footer__more:hover .footer__hidden {
  display: flex;
  position: absolute;
}

.footer__hidden {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 8px 0px;
  bottom: 52px;
  left: -16px;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
}

.footer__hidden-resour {
  display: none;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
  position: absolute;
  bottom: 52px;
  left: -4px;
  padding: 8px 0px;
  width: 200px;
}

.footer__more:hover .footer__hidden-resour {
  display: flex;
  position: absolute;
}

.footer__link-resour {
  text-decoration: none;
  color: #222222;
  font-family: "Circular Bold";
  padding: 8px 18px;
}

.footer__ios {
  display: flex;
}

.footer__android {
  display: flex;
}

.footer__ios {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__android {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__apps-svg {
  padding-right: 8px;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__socialmedia {
  padding-left: 16px;
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia:hover {
  transform: scale(1.1);
}

.footer__socialmedia1 {
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia1:hover {
  transform: scale(1.1);
}

.footer__svg-media {
  height: 22px;
}

.footer__copy {
  text-align: center;
  padding-top: 12px;
  font-family: "Circular Regular";
}

.screen__relative {
  position: relative;
}

.cuestion {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: #222222;
  border-radius: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}

.cuestion__container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuestion__svg {
  height: 16px;
  width: 10.05px;
  position: absolute;
}

.cuestion__container-help {
  position: absolute;
  bottom: 64px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 24px 0px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12),
    0 8px 24px -4px rgba(24, 39, 75, 0.08);
}

.cuestion:hover .cuestion__container-help {
  display: flex;
}

.cuestion__link {
  padding: 10px 24px;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-family: "Circular Medium";
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cuestion__icon {
  padding: 4px 12px 0px 0px;
}
