body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/********************/
/* Header */
/********************/

.header {
  height: 74px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header__svg {
  height: 40px;
  width: 40px;
}

.header__signup {
  height: 40px;
  padding: 0 16px;
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  font-family: "Circular Bold";
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  transition: 0.2s ease;
}

.header__signup::before {
  border: 2px solid #000;
  content: "";
  display: inline-block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__signup:hover::before {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}
/********************/
/*Header*/
/********************/

/********************/
/*Main*/
/********************/

main {
  padding: 0 32px;
}

.hero-title {
  text-align: center;
  font-size: 30px;
  font-family: "Circular Bold";
  margin: 0;
}

.hero {
  padding-top: 32px;
}

.hero__input {
  border: 2px solid #222;
  border-radius: 8px;
  padding: 14px 16px;
  width: 13rem;
}

.hero__container-inputpass {
  margin-top: 16px;
}

.hero__container-register {
  position: relative;
  background: #fd0;
  border-radius: 40px;
}

.hero__register {
  padding: 0px 16px;
  margin-top: 32px;
  height: 48px;
  text-decoration: none;
  background-color: rgba(255, 221, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.hero__container-register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  background-color: rgba(255, 221, 0, 1);
  border-radius: 40px;
}

.hero__container-register:hover::before {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

.hero__email {
  text-decoration: none;
  color: #000;
  font-family: "Circular Bold";
  z-index: 11;
}

.login {
  padding: 32px 0px;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.login::before {
  position: absolute;
  content: "";
  background-color: rgba(34, 34, 34, 0.1);
  height: 2px;
  width: 84px;
  left: 0;
  top: calc(50% - 1px);
}

.login::after {
  position: absolute;
  content: "";
  background-color: rgba(34, 34, 34, 0.1);
  height: 2px;
  width: 84px;
  right: 0;
  top: calc(50% - 1px);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social__link {
  text-decoration: none;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;
}

.social__link::before {
  border: 2px solid #000;
  content: "";
  display: inline-block;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social__link:hover::before {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

.social__svg {
  height: 30px;
  width: 24px;
  padding-right: 16px;
}

.social__span {
  color: #000;
  font-family: "Circular Bold";
  font-size: 16px;
}

.privacy {
  padding-top: 16px;
	padding-bottom: 26px;
}

.privacy__text {
  margin: 0;
	text-align: center;
}

.cuestion {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: #222222;
  border-radius: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}

.cuestion__container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuestion__svg {
  height: 16px;
  width: 10.05px;
  position: absolute;
}

.cuestion__container-help {
  position: absolute;
  bottom: 64px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 24px 0px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12),
    0 8px 24px -4px rgba(24, 39, 75, 0.08);
}

.cuestion:hover .cuestion__container-help {
  display: flex;
}

.cuestion__link {
  padding: 10px 24px;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-family: "Circular Medium";
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cuestion__icon {
  padding: 4px 12px 0px 0px;
}
