body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 80px;
  }
}
@media (max-width: 700px) {
  header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/********************/
/* Header */
/********************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 8px;
  border-radius: 48px;
}
@media (max-width: 1500px) {
  .header {
    box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 1128px;
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .header {
    box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 24px;
    padding-right: 24px;
    width: inherit;
  }
}
@media (max-width: 700px) {
  .header {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    width: inherit;
    height: initial;
  }
}
@media (max-width: 374px) {
  .header {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
  }
}
.header__others {
  display: flex;
  align-items: center;
}

.header__info {
  text-decoration: none;
  padding: 8px;
  color: rgba(34, 34, 34, 1);
  font-size: 12px;
  position: relative;
}
@media (max-width: 1500px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .header__info {
    font-size: 12px;
    font-family: inherit;
  }
}
.header__info::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__info:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__register {
  display: flex;
}

.header__login {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  padding: 8px;
  font-family: "Circular Bold";
  transition: all 0.2s ease;
  position: relative;
  margin: 0px 4px;
}
.header__login::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__login:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__signup {
  border-radius: 40px;
  background-color: rgba(255, 221, 0, 1);
  padding: 8px 16px;
  display: block;
  font-family: "Circular Bold";
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
}
.header__signup:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}
/********************/
/*Header*/
/********************/
/********************/
/* Hero*/
/********************/
.hero {
  padding-left: 24px;
  padding-right: 24px;
}

.hero__info {
  font-family: "Circular Bold";
}
@media (max-width: 1024px) {
  .hero__info {
    margin-left: 42px;
    margin-right: 42px;
  }
}
@media (max-width: 700px) {
  .hero__info {
    margin-left: 0;
    margin-right: 0;
  }
}

.hero__followers {
  line-height: 44px;
  font-size: 30px;
  text-align: center;
  padding: 0px 11.344px 0px 11.328px;
  margin: auto;
}
@media (max-width: 1024px) {
  .hero__followers {
    font-size: 64px;
    line-height: 80px;
  }
}
@media (max-width: 700px) {
  .hero__followers {
    font-size: 64px;
    line-height: 80px;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}
@media (max-width: 480px) {
  .hero__followers {
    line-height: 44px;
    font-size: 30px;
  }
}
.hero__donation {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-top: 16px;
  color: #222222;
  margin: auto;
  font-family: none;
}
@media (max-width: 1500px) {
  .hero__donation {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .hero__donation {
    font-size: 18px;
  }
}

.hero__firsbutton {
  display: flex;
  align-items: center;
  padding: 0px 12px 0px 24px;
  margin: 32px 0px 0px;
  border: 2px solid;
  border-radius: 40px;
  height: 46px;
  border-color: rgba(34, 34, 34, 0.05);
  box-shadow: 0 2.65546px 95px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1500px) {
  .hero__firsbutton {
    height: 74px;
  }
}
@media (max-width: 480px) {
  .hero__firsbutton {
    height: 56px;
  }
}
.hero__coffebuy {
  font-family: "Circular Bold";
  font-weight: 800;
  font-size: 18px;
}
@media (max-width: 1500px) {
  .hero__coffebuy {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .hero__coffebuy {
    font-size: 18px;
  }
}
.hero__input {
  outline: none;
  border: none;
  padding: 0;
  font-size: 18px;
  overflow: hidden;
  color: rgba(34, 34, 34, 1);
}
@media (max-width: 1500px) {
  .hero__input {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .hero__input {
    font-size: 18px;
  }
}
.hero__start {
  display: flex;
  justify-content: center;
  margin: 16px 0px 0px;
}

.hero__button {
  border-radius: 40px;
  border: none;
  background-color: #ffdd00;
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-family: "Circular Bold";
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #222222;
}
.hero__button:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

.hero__sentence {
  font-family: "Circular Bold";
  padding-top: 24px;
  font-size: 16px;
  padding-bottom: 48px;
  text-align: center;
}
@media (max-width: 700px) {
  .hero__sentence {
    padding: 16px 0px 48px 0px;
    margin: 0;
  }
}
/********************/
/* Hero */
/********************/

/********************/
/* Slider */
/********************/

.container__slide-creat {
  
}
@media (max-width: 1500px) {
    .container__slide-creat {
      padding-right: 48px;
      padding-left: 48px;
      padding-top: 96px;
    }
  }
  @media (max-width: 700px) {
    .container__slide-creat {
      padding-right: inherit;
      padding-left: inherit;
      padding-top: inherit;
    }
  }
.slider {
  position: relative;
  left: 0;
  top: 0;
  height: 58px;
  overflow-x: auto;
}
@media (max-width: 1500px) {
    .slider {
      width: 1012px;
      margin: auto;
    }
  }
  @media (max-width: 1024px) {
    .slider {
      width: 850px;
      margin: auto;
    }
  }

.slider__container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
}
@media (max-width: 1500px) {
    .slider__container {
      grid-template-columns: repeat(8, 120px);
    }
  }

.slider__team {
  padding: 10px 16px;
  font-family: "Circular Bold";
  position: relative;
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  white-space: nowrap;
}
.slider__team::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.slider__team:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.slider__first {
  margin: 0px 6px 0px 24px;
}

.slider::-webkit-scrollbar {
  width: 0%;
}

.creators__video-cards {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
}

.creators__video-cards::-webkit-scrollbar {
  width: 0%;
}

.creator__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 24px;
  text-decoration: none;
  height: calc(100% - -0px);
}

.creator__img:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition-duration: 300ms;
}

.creator__conteiner-img {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.creator__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: 0.5s;
}

.creator__container-info {
  height: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.creator__description {
  padding-top: 12px;
  line-height: 22px;
  font-size: 16px;
  font-family: "Circular Regular";
  color: #000;
}

.creator__span {
  font-family: "Circular Bold";
}

.creator__container-supports {
  display: flex;
  padding-top: 12px;
  color: #000;
}

.crator__heart-svg {
  padding-right: 8px;
}

.creator__supporters {
  margin: 0;
  line-height: 19px;
  font-size: 16px;
}

/********************/
/* Donations */
/********************/

.donation-margin {
  margin-top: 64px;
  margin-bottom: 36px;
}

.donation-padding {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: rgba(255, 252, 230, 1);
}

.donations {
  padding-left: 16px;
  padding-right: 16px;
}

.donations__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Circular Bold";
}

.donations__title {
  letter-spacing: 2px;
  color: rgba(113, 113, 113, 1);
  text-transform: uppercase;
}

.donations__audience {
  padding-top: 12px;
  padding-right: 4px;
  padding-left: 4px;
  line-height: 44px;
  font-size: 30px;
  text-align: center;
}

.dontaions__information {
  padding-top: 24px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  font-family: "Circular Regular";
}

.donations__container-image {
  padding-top: 48px;
}

.donations__img {
  height: 100%;
  width: 100%;
}

.donations__memberships {
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Circular Bold";
}

/********************/
/* Rules */
/********************/

.rules-padding {
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
}

.rules {
  margin-top: 64px;
  margin-bottom: 48px;
}

.rules__title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 44px;
  font-family: "Circular Black";
}

.rules__creator {
  position: relative;
  padding-left: 8px;
}

.rules__svg-line {
  position: absolute;
  width: 100%;
  top: 32px;
  left: 6px;
}

.rules-paddingtop {
  padding-top: 64px;
}

.rules__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.rules__info {
  line-height: 30px;
  font-size: 18px;
  font-family: "Circular Regular";
  padding-top: 12px;
  text-align: center;
}

.rules__font {
  font-family: "Circular Bold";
  display: flex;
  justify-content: center;
}

.rules__span-inside {
  font-family: "Circular Bold";
}

.rules__start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffdd00;
  border-radius: 40px;
  transition: all 0.7s ease;
  padding-left: 18px;
  padding-right: 18px;
  height: 48px;
  width: 214px;
  margin: auto;
}

.rules__start:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

.rules__span-page {
  font-family: "Circular Bold";
  color: #222222;
}

.rules__span-free {
  font-family: "Circular Regular";
  color: #222222;
}

.rules__sentence {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 40px;
  font-family: "Circular Book";
}

.footer-top {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-left {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 374px) {
  .footer-left {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link {
  font-family: "Circular Bold";
  padding-right: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #222222;
}

.footer__link:hover {
  color: rgba(119, 119, 119, 1);
}

.footer__link:hover .footer__svg {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.footer__svg {
  padding-left: 5px;
}

.footer__more {
  position: relative;
}
.footer__more:hover .footer__hidden {
  display: flex;
  position: absolute;
}

.footer__hidden {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 8px 0px;
  bottom: 52px;
  left: -16px;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
}

.footer__hidden-resour {
  display: none;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
  position: absolute;
  bottom: 52px;
  left: -4px;
  padding: 8px 0px;
  width: 200px;
}

.footer__more:hover .footer__hidden-resour {
  display: flex;
  position: absolute;
}

.footer__link-resour {
  text-decoration: none;
  color: #222222;
  font-family: "Circular Bold";
  padding: 8px 18px;
}

.footer__ios {
  display: flex;
}

.footer__android {
  display: flex;
}

.footer__ios {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__android {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__apps-svg {
  padding-right: 8px;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__socialmedia {
  padding-left: 16px;
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia:hover {
  transform: scale(1.1);
}

.footer__socialmedia1 {
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia1:hover {
  transform: scale(1.1);
}

.footer__svg-media {
  height: 22px;
}

.footer__copy {
  text-align: center;
  padding-top: 12px;
  font-family: "Circular Regular";
}

.screen__relative {
  position: relative;
}

.cuestion {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: #222222;
  border-radius: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}

.cuestion__container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuestion__svg {
  height: 16px;
  width: 10.05px;
  position: absolute;
}

.cuestion__container-help {
  position: absolute;
  bottom: 64px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 24px 0px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12),
    0 8px 24px -4px rgba(24, 39, 75, 0.08);
}

.cuestion:hover .cuestion__container-help {
  display: flex;
}

.cuestion__link {
  padding: 10px 24px;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-family: "Circular Medium";
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cuestion__icon {
  padding: 4px 12px 0px 0px;
}
