body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(255, 252, 230, 1);
}
/********************/
/* Header */
/********************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 8px;
  border-radius: 48px;
  background-color: rgba(255, 255, 255, 1);
}

.header__others {
  display: flex;
  align-items: center;
}

.header__info {
  text-decoration: none;
  padding: 8px;
  color: rgba(34, 34, 34, 1);
  font-size: 12px;
  position: relative;
}
.header__info::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__info:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__register {
  display: flex;
}

.header__login {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  padding: 8px;
  font-family: "Circular Bold";
  transition: all 0.2s ease;
  position: relative;
  margin: 0px 4px;
}
.header__login::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__login:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__signup {
  border-radius: 40px;
  background-color: rgba(255, 221, 0, 1);
  padding: 8px 16px;
  display: block;
  font-family: "Circular Bold";
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
}
.header__signup:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}
/********************/
/*Header*/
/********************/

.hero {
  padding: 0px 16px 24px 16px;
  background-color: rgba(255, 252, 230, 1);
}

.hero__h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Circular Bold";
  margin: auto;
}

.hero__sub-title {
  line-height: 30px;
  font-size: 20px;
  padding-top: 8px;
  text-align: center;
  font-family: "Circular Regular";
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__link {
  margin: 0px 2px 12px 2px;
  padding: 8px;
  font-size: 16px;
  font-family: "Circular Bold";
  border-radius: 40px;
  text-decoration: none;
  border: 2px solid;
  border-color: rgba(34, 34, 34, 1);
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
  width: 200px;
  text-align: center;
}

.hero__link:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}
