/*----------------------------------------------------

Table of Content

-Globals
-Header
-Hero
-Doubts
-Footer
-Cuestion


---------------------------------------------------- */

/********************/
/* Globals */
/********************/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(255, 252, 230, 1);
}

@media (max-width: 1500px) {
  header {
    padding-bottom: 97px;
  }
}
@media (max-width: 700px) {
  header {
    padding-bottom: 24px;
  }
}

/********************/
/* Header */
/********************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 8px;
  border-radius: 48px;
  background: #fff;
}
@media (max-width: 1500px) {
  .header {
    box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 1128px;
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .header {
    box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 24px;
    padding-right: 24px;
    width: inherit;
  }
}
@media (max-width: 700px) {
  .header {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    width: inherit;
    height: initial;
  }
}
@media (max-width: 374px) {
  .header {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
  }
}
.header__icon-svg {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__aboutus--media {
  display: block;
}

@media (max-width: 1500px) {
  .header__aboutus--media {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__aboutus--media {
    display: none;
  }
}

.header__info--media {
  text-decoration: none;
  padding: 8px;
  color: rgba(34, 34, 34, 1);
  font-size: 12px;
  position: relative;
}
@media (max-width: 1500px) {
  .header__info--media {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .header__info--media {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .header__info--media {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .header__info--media {
    font-size: 12px;
    font-family: inherit;
  }
}

.header__info--media::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}

.header__info--media:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__others {
  display: flex;
  align-items: center;
}

.header__aboutus {
  display: block;
}
@media (max-width: 1500px) {
  .header__aboutus {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__aboutus {
    display: initial;
  }
}

.header__info {
  text-decoration: none;
  padding: 8px;
  color: rgba(34, 34, 34, 1);
  font-size: 12px;
  position: relative;
}
@media (max-width: 1500px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .header__info {
    font-family: "Circular Bold";
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .header__info {
    font-size: 12px;
    font-family: inherit;
  }
}
.header__info::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__info:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__register {
  display: flex;
}

.header__login {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  padding: 8px;
  font-family: "Circular Bold";
  transition: all 0.2s ease;
  position: relative;
  margin: 0px 4px;
}
.header__login::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.05);
}
.header__login:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transform: scale(1);
  opacity: 1;
}

.header__signup {
  border-radius: 40px;
  background-color: rgba(255, 221, 0, 1);
  padding: 8px 16px;
  display: block;
  font-family: "Circular Bold";
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
}
.header__signup:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

/********************/
/* Hero */
/********************/
.hero {
  padding: 0px 16px 24px 16px;
  background-color: rgba(255, 252, 230, 1);
}

.hero__h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Circular Bold";
  margin: auto;
}
@media (max-width: 1500px) {
  .hero__h2 {
    font-size: 48px;
  }
}

@media (max-width: 700px) {
  .hero__h2 {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  .hero__h2 {
    font-size: 30px;
  }
}

.hero__sub-title {
  line-height: 30px;
  font-size: 20px;
  padding-top: 8px;
  text-align: center;
  font-family: "Circular Regular";
  margin: auto;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1500px) {
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0px 20px;
  }
}
@media (max-width: 1024px) {
  .hero__buttons {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .hero__buttons {
    flex-wrap: wrap;
    padding: 0;
  }
}


.hero__link {
  margin: 0px 2px 12px 2px;
  padding: 8px;
  font-size: 16px;
  font-family: "Circular Bold";
  border-radius: 40px;
  text-decoration: none;
  border: 2px solid;
  border-color: rgba(34, 34, 34, 1);
  color: rgba(34, 34, 34, 1);
  transition: all 0.7s ease;
  width: 200px;
  text-align: center;
}

.hero__link:hover {
  transform: scaleX(1.021) scaleY(1.041) perspective(1px);
}

/********************/
/* Doubts */
/********************/
.doubts-padding {
  padding: 24px 16px 64px 16px;
}

.doubts__container {
  padding: 16px 0px;
}

.doubts__container:hover .doubts__info {
  display: block;
}

.doubts__container:hover .doubts__list {
  display: block;
}

.doubts__title {
  display: flex;
  justify-content: space-between;
}

.doubts__h2 {
  font-size: 20px;
  font-family: "Circular Bold";
  padding-right: 12px;
  margin: 0;
}

.doubts__title:hover .doubts__arrow-svg {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.doubts__arrow {
  display: flex;
  align-items: center;
}

.doubts__info {
  font-size: 18px;
  font-family: "Circular Regular";
  padding-bottom: 16px;
  margin: 0;
  display: none;
}

.doubts__link {
  color: #222222;
}

.doubts__list {
  font-size: 18px;
  font-family: "Circular Regular";
  padding: 24px 0px 0px 18px;
  margin: 0;
  display: none;
}

.doubts__points-pading {
  padding-bottom: 8px;
}

.doubts__line {
  background-color: rgba(34, 34, 34, 0.09);
  width: 100%;
  height: 1px;
}

.doubts__container:hover + .doubts__line {
  transition: width 0.5s;
  background-color: rgba(255, 221, 0, 1);
}

/********************/
/* Footer */
/********************/
.footer-top {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-left {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 374px) {
  .footer-left {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .footer__container {
    display: block;
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link {
  font-family: "Circular Bold";
  padding-right: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #222222;
}

.footer__link:hover {
  color: rgba(119, 119, 119, 1);
}

.footer__link:hover .footer__svg {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.footer__svg {
  padding-left: 5px;
}

.footer__more {
  position: relative;
}
.footer__more:hover .footer__hidden {
  display: flex;
  position: absolute;
}

.footer__hidden {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 8px 0px;
  bottom: 52px;
  left: -16px;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
}

.footer__hidden-resour {
  display: none;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2.65546px 95px rgb(0 0 0 / 5%);
  border-radius: 8px;
  position: absolute;
  bottom: 52px;
  left: -4px;
  padding: 8px 0px;
  width: 200px;
}

.footer__more:hover .footer__hidden-resour {
  display: flex;
  position: absolute;
}

.footer__link-resour {
  text-decoration: none;
  color: #222222;
  font-family: "Circular Bold";
  padding: 8px 18px;
}

.footer__ios {
  display: flex;
}

.footer__android {
  display: flex;
}

.footer__ios {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__android {
  padding: 8px 18px;
  font-family: "Circular Bold";
  text-decoration: none;
  color: #222222;
}

.footer__apps-svg {
  padding-right: 8px;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__social {
  display: block;
}
@media (max-width: 1500px) {
  .footer__social {
    display: flex;
    gap: 26px;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .footer__social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: initial;
  }
}

.footer__socialmedia {
  padding-left: 16px;
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia:hover {
  transform: scale(1.1);
}

.footer__socialmedia1 {
  transition: all 0.2s ease-in-out;
}

.footer__socialmedia1:hover {
  transform: scale(1.1);
}

.footer__svg-media {
  height: 22px;
}
@media (max-width: 1500px) {
  .footer__svg-media {
    height: 28px;
  }
}
@media (max-width: 480px) {
  .footer__svg-media {
    height: 22px;
  }
}

.footer__copy {
  text-align: center;
  padding-top: 12px;
  font-family: "Circular Regular";
}

@media (max-width: 1500px) {
  .footer__copy {
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer__copy {
    display: initial;
    text-align: center;
  }
}

.footer__copy--media {
  display: block;
}

@media (max-width: 1024px) {
  .footer__copy--media {
    display: none;
  }
}

.screen__relative {
  position: relative;
}
/*
==============================================
Cuestion
==============================================
*/
.cuestion {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: #222222;
  border-radius: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .cuestion {
    bottom: 57px;
    right: 175px;
  }
}

@media (max-width: 1200px) {
  .cuestion {
    bottom: 57px;
    right: 125px;
  }
}

@media (max-width: 1024px) {
  .cuestion {
    bottom: 24px;
    right: 24px;
  }
}

.cuestion__container-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuestion__svg {
  height: 16px;
  width: 10.05px;
  position: absolute;
}

.cuestion__container-help {
  position: absolute;
  bottom: 64px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 24px 0px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12),
    0 8px 24px -4px rgba(24, 39, 75, 0.08);
}

.cuestion:hover .cuestion__container-help {
  display: flex;
}

.cuestion__link {
  padding: 10px 24px;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-family: "Circular Medium";
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cuestion__icon {
  padding: 4px 12px 0px 0px;
}
